@charset "UTF-8";

html {
    background: linear-gradient(0.25turn, #25fafa, #44410f38, #c691e6);
    font-family:fontawesome;serif;
}

a:hover {
    text-decoration: underline;
  }

  a {
    color: red;
    font-family: helvetica;
    text-decoration: none;
    text-transform: lowercase;
  }

  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    color: black;
  }
  
  a:visited {
    color: purple;
  }
  
